@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Muli);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #101E29;
	color: #fff;
	font-family: Helvetica;
}

ul {
	list-style-position: inside;
}

li {
	list-style-type: none;
}

h1 {
	color: #6C9FFF;
}

h2 {
	padding-bottom: 1em;
}

h3 {
	color: #6C9FFF;
}

a {
	color: #586E7F;
}

img {
	max-width: 18em;
}

.services-title {
	text-align: center;
	font-size: 1.2em;
	font-family: 'Droid Serif', serif;
}

.services-section {
	font-family: 'Muli', sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #586E7F;
	line-height: 25px;
	width: 35%;
	padding: 25px;
}

.img-circle {
	display: block;
	border-radius: 50%;
	margin: 2em auto;
	max-height: 15em;
}

#nav-links {
	font-family: 'Droid Serif', serif;
	letter-spacing: 2px;
	padding-left: 65%;
	padding-bottom: 1em;
}

#slogan {
	font-style: italic;
	font-size: 40px;
	color: #6C9FFF;
	text-align: right;
	padding-top: 5em;
	padding-right: 4em;
}

#section1 {
	text-align: left;
}

#social-media {
	background-image: url('../images/technology-in-hand.jpeg');
	background-size: 100em;
	background-repeat: no-repeat;
	text-align: left;
	font-family: 'Droid Serif', serif;
}

#main-text {
	font-size: 20px;
	font-family: 'Muli', sans-serif;
	line-height: 25px;
	text-align: left;
	width: 75em;
	padding-top: 2em;
	padding-left: 47em;
	padding-bottom: 15em;
}

#main-body {
	text-align: center;
}

#contact-me {
	text-align: center;
}
